<div  class="container-fluid">  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
      <ul class="navbar-nav">  
        <li class="nav-item ">  
          <a routerLink="view-empleado" class="nav-link" class="btn btn-primary active" role="button" >Ver Empleados</a>  
        </li>&nbsp;   
        <li class="nav-item">  
          <a  routerLink="add-empleado" class="nav-link" class="btn btn-primary active" role="button" >Agregar Empleados</a>  
        </li>&nbsp;
        <li class="nav-item">  
          <a  routerLink="buscar-empleado" class="nav-link" class="btn btn-primary active" role="button" >Buscar Empleado</a>  
        </li>&nbsp;     
        <li class="nav-item">  
          <a  routerLink="actualizar-empleado" class="nav-link" class="btn btn-primary active" role="button" >Actualizar Empleado</a>  
        </li>              
      </ul>  
    </nav>     
      <router-outlet></router-outlet>  
  </div> 